
@{
    ViewBag.name = "Sameen Abrar";
    ViewBag.id = "20-41929-1";
    ViewBag.email = "sameenabrar13@gmail.com";
    ViewBag.contact = "01739274382";
}

<h2>Name: @ViewBag.name</h2>
<h2>ID: @ViewBag.id</h2>
<h2>Email: @ViewBag.email</h2>
<h2>Contact: @ViewBag.contact</h2>

