
@{
    ViewBag.Title = "Reference";

    ViewBag.refname = "Ayesha Akhtar";
    ViewBag.refemail = "ayesha.akhtar@gmail.com";
    ViewBag.refphone = "01748206945";

}

<h2>@ViewBag.Title</h2>
<ol>
    <li>
        Name: @ViewBag.refname
        <ul>
            <li>Email: @ViewBag.refemail</li>
            <li>Phone: @ViewBag.refphone</li>
        </ul>
    </li>
</ol>
